table {
    border-collapse: collapse;
    border: 2px solid;
    width: 400px;
    height: 200px;
}
th, td {
    border: 2px solid;
}
.alignRight {
    text-align: right;
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
